*
{
    padding: 0;
    margin: 0;
}

.header
{
    max-height: 98px;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-icon
{
    float: left;
}

.social-icon i
{
    font-weight: 500px;
}

.header-link
{
    display: inline-block;
}

.limo-icon
{
    display: flex;
    justify-content: center;
}

.limo-img
{
    margin-top: -37px;
    display: inline-block;
    height: 65px;
    width: 85px;
}

.search-space
{
    float: left;
}

.search-bar
{
    padding-left: 0;
    margin-top: -35px;
}

#search-box
{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

::placeholder
{
    color: black;
}

.search-bar-icon
{
    color: #0c0c0c;
    float: right;
}

#slider
{   
    background-image: url('assets/images/dish-918613_1920@1X.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-menu
{
    background-color: rgb(199, 174, 57);
}

.nav-link
{
    color: black;
}

.nav-link:hover
{
    color: red;
}

.slider-title
{
    margin-top: 99px;
}

.slider-bottom
{
    position: absolute;
    bottom: 0;
}

.icon-wrap
{
    position: relative;
}

.icon-wrap .icon
{
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-icon .icon
{
    left: 0px;
}

.left-icon input
{
    padding-left: 30px;
}

.btn-color
{
    background-color: #ffb60d;
}

#feature
{   
    background-image: url('assets/images/dish-918613_1920@1X.png');
    height: 320px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.restaurents
{
    height: 165px;
    width: 146px;
}

.services
{
    background-color: #f5f5f5;
    height: 300px;
}

.service-icon
{
    height: 165px;
    width: 146px;
}

.join
{
    background-color: white;
    height: 450px;
}

.img-join
{
     width: 201px;
     height: 227px;
}

.btn-join
{
    background-color: rgb(243, 162, 12);
    border-radius: 8px;
    padding: 10px 48px;
}

#work{
    background-color: rgb(245, 245, 245);
    width: 100vw;
    height: 550px;
}

.work-header{
    padding: 25px;
}

.work-color{
    color: black;
}

.inside-work{
    height: 308px;
    width: 308px;
    background-color: white;
}

.img-wrap{
    width: 125px;
    height: 118px;
    margin-left: 92px;
    margin-top: 34px;
    margin-right: 91px;
}

.work-text{
    margin: 48px 93px 71px 94px;
}
#subtitle_work{
    height: 18px;
    width: 200px;
    margin: -50px 58px 33px 50px;
}